@import 'colors';

.card {
  padding: 0px;
  background-color: $blue;
  border: none;

  &__content {
    height: 174px;
    margin: 5px;
    border-radius: 16px;
    border: 1px solid $purple;
    display: flex;
    align-items: center;
    background: repeating-radial-gradient($ligth-blue, $dark-purple);

    &-image {
      height: 140px;
      border: 1px solid $purple;
      border-radius: 16px;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }

    &-image-heart {
      width: 35px;
      background: $purple;
      height: 34px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin-right: -5px;
      margin-bottom: -5px;
      border: none;
    }

    &-recently {
      background-color: $purple;
      width: 30%;
      border-radius: 50px;
      padding: 3px;
      position: absolute;
      top: 0px;
      right: 0px;
      font-size: 10px;
    }
  }
}